/*
$menu-background: #e1ddd8;
$section-background: #cbc4bb;
$buttons: #cbc4bb;
$font: #222222;
$buttons-hover: #c0b7ad;*/
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 300;
  color: #252525;
  margin: 0;
  background-color: rgba(216, 207, 199, 0.5);
}
body img {
  max-width: 100%;
}

.header {
  background-image: url(/Images/uvodni.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__h2 {
  font-family: "WindSong", cursive;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #353535;
}
.header__h1 {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  margin: 0;
  color: #353535;
}
.header__buttons {
  display: none;
}
.header__text {
  padding: 80px 30px 50px 30px;
}

@media screen and (min-width: 640px) {
  .header__h2 {
    font-size: 55px;
  }
  .header__h1 {
    font-size: 55px;
  }
  .header__text {
    padding: 100px 60px;
  }
  .header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 40px;
  }
  .header__button {
    background-color: rgba(189, 178, 167, 0.6);
    padding: 20px;
    width: 230px;
    text-align: center;
    text-decoration: none;
    color: #252525;
    margin: 0 20px;
  }
  .header__button--left {
    border-radius: 50px 0 50px 0;
  }
  .header__button--right {
    border-radius: 50px 0 50px 0;
  }
  .header__button--left:hover {
    background-color: rgba(169, 151, 139, 0.7);
  }
  .header__button--right:hover {
    background-color: rgba(169, 151, 139, 0.7);
  }
}
@media screen and (min-width: 1100px) {
  .header {
    height: 100vh;
  }
  .header__h2 {
    font-size: 90px;
  }
  .header__h1 {
    font-size: 118px;
  }
  .header__button {
    margin: 0 40px;
  }
  .header__text {
    padding-top: 25vh;
  }
}
@media screen and (min-width: 1300px) {
  .header__text {
    padding-top: 27.7777777778vh;
  }
}
@media screen and (min-width: 1980px) {
  .header__text {
    padding: 350px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__item {
  border-bottom: 1px solid rgba(189, 178, 167, 0.5);
}
.menu__item:last-child {
  border-bottom: none;
}
.menu__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}
.menu__link:hover {
  -webkit-text-decoration: underline 2px solid rgba(169, 151, 139, 0.7);
          text-decoration: underline 2px solid rgba(169, 151, 139, 0.7);
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
  background-color: rgb(189, 178, 167);
  width: 100vh;
  height: 100vh;
}
.menu__toggler {
  cursor: pointer;
}
.menu__button {
  padding: 15px 20px;
  background-color: rgba(189, 178, 167, 0.6);
  border: none;
  border-radius: 45px 0;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #252525;
  font-weight: 400;
  margin-right: 5px;
  font-size: 14px;
}
.menu__img {
  max-width: 50px;
  margin: 0 10px;
  display: none;
}
.menu--left {
  align-items: center;
}

label {
  font-size: 30px;
  padding: 5px;
}

@media screen and (min-width: 640px) {
  .menu__button {
    display: none;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
  }
  .menu__item {
    border-bottom: 0;
  }
  .menu__link:hover {
    -webkit-text-decoration: underline 2px solid rgba(169, 151, 139, 0.7);
            text-decoration: underline 2px solid rgba(169, 151, 139, 0.7);
  }
  .menu__img {
    max-width: 50px;
    margin: 0 10px;
    display: block;
  }
  .menu--left {
    display: flex;
  }
}
@media screen and (min-width: 900px) {
  .menu__button {
    display: block;
  }
  .menu__button:hover {
    background-color: rgba(169, 151, 139, 0.7);
  }
}
.footer {
  text-align: center;
}
.footer__img {
  max-width: 250px;
}
.footer__p {
  text-align: left;
  margin: 16px;
}
.footer__p--underline {
  margin: 16px;
}
.footer__hr {
  width: 90%;
  border: 1px solid rgba(189, 178, 167, 0.5);
}
.footer__a {
  color: #252525;
}

@media screen and (min-width: 640px) {
  .footer__div {
    display: flex;
    padding-left: 20px;
  }
}
@media screen and (min-width: 900px) {
  .footer-hlavni {
    display: flex;
    justify-content: flex-start;
    padding: 0 100px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1100px) {
  .footer-hlavni {
    justify-content: space-evenly;
  }
}
.review,
.welcome {
  background-color: rgba(189, 178, 167, 0.5);
  text-align: center;
  padding: 20px;
}

.establishments,
.review {
  text-align: center;
  padding: 20px;
}
.establishments__p,
.review__p {
  margin: 30px 0 40px 0;
}

.photo__image {
  border-radius: 500px 500px 0 0;
  width: 250px;
  max-width: 100%;
}
.photo__caption {
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 40px;
}
.photo__a {
  text-decoration: none;
  color: #252525;
}

.establishments__h2 {
  text-transform: uppercase;
  font-weight: 300;
  padding: 30px;
  margin: 0;
}
.establishments__frame--left {
  width: 330px;
  height: 310px;
  border: none;
  border-radius: 0 100px 0 100px;
}
.establishments__frame--right {
  width: 330px;
  height: 310px;
  border: none;
  border-radius: 0 100px 0 100px;
}
.establishments__p--first {
  margin-top: 30px;
  font-size: 20px;
}
.establishments__p--last {
  font-size: 16px;
  margin-bottom: 50px;
}

.review__h2 {
  text-transform: uppercase;
  font-weight: 300;
  padding: 30px 0 0 0;
  margin: 0;
}
.review__img {
  width: 250px;
  border-radius: 500px 500px 0 0;
}
.review__p {
  padding: 20px;
}

@media screen and (min-width: 640px) {
  .photo__image {
    width: 280px;
  }
}
@media screen and (min-width: 900px) {
  .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .establishments-map {
    display: flex;
    justify-content: space-around;
  }
  .establishments__div {
    padding: 20px;
  }
  .establishments__p--first {
    margin-top: 30px;
  }
  .review {
    display: flex;
    padding: 0;
  }
  .review__img {
    width: 350px;
    height: auto;
  }
  .review__text {
    margin: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .uvod__p {
    padding: 0 200px 50px 200px;
  }
  .service {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .photo__image {
    width: 250px;
  }
  .photo__caption::after {
    width: 200px;
  }
  .establishments__h2 {
    font-size: 35px;
  }
  .establishments-map {
    justify-content: center;
  }
  .establishments__div {
    margin: 0 100px;
  }
  .review__h2 {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .review__grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
  }
  .review__p {
    text-align: left;
  }
  .review__p--prvni {
    grid-column: 1/3;
  }
  .review__p--druha {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .review__p--treti {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .review__p--ctvrta {
    grid-column: 2/4;
    grid-row: 5/6;
  }
  .review__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 500px;
  }
  .review__text {
    margin: 100px;
  }
}
.cenik {
  padding: 20px;
  text-align: center;
}
.cenik__table {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: left;
}
.cenik__h2 {
  text-align: center;
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  padding: 20px 0 0 0;
}
.cenik__h2--prvni {
  padding-top: 60px;
}
.cenik--tmava {
  background-color: rgba(189, 178, 167, 0.5);
}

.table__td {
  padding: 12px 50px 12px 0;
}
.table__td--price {
  padding: 0;
  text-align: right;
}

@media screen and (min-width: 640px) {
  .cenik__h2 {
    font-size: 45px;
  }
}
@media screen and (min-width: 1100px) {
  .cenik__h2 {
    font-size: 55px;
    padding: 10px;
  }
  .cenik__h2--prvni {
    padding-top: 80px;
  }
}
.galerie__h2 {
  text-align: center;
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-size: 35px;
  margin: 0;
  padding: 20px 0 0 0;
}
.galerie__h2--prvni {
  padding-top: 60px;
}
.galerie__img--levyroh, .galerie__img--pravyroh {
  margin: 10px;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.galerie__img--levyroh {
  border-radius: 0 50px 0 50px;
}
.galerie__img--pravyroh {
  border-radius: 50px 0 50px 0;
}
.galerie__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  padding-bottom: 20px;
}
.galerie--tmava {
  background-color: rgba(189, 178, 167, 0.5);
}

@media screen and (min-width: 640px) {
  .galerie__img--levyroh, .galerie__img--pravyroh {
    margin: 20px;
    width: 200px;
    height: 200px;
  }
  .galerie__img--levyroh {
    border-radius: 0 75px 0 75px;
  }
  .galerie__img--pravyroh {
    border-radius: 75px 0 75px 0;
  }
  .galerie__h2 {
    font-size: 45px;
  }
  .galerie__h2--prvni {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1100px) {
  .galerie__img--levyroh, .galerie__img--pravyroh {
    margin: 30px;
  }
  .galerie__img {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
  .galerie__h2 {
    font-size: 55px;
  }
}
.kontakt {
  padding: 20px;
  text-align: center;
}
.kontakt__h2 {
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px;
  margin: 0;
  font-size: 25px;
}
.kontakt__h2--prvni {
  padding-top: 60px;
}
.kontakt__p--velke {
  font-size: 18px;
}
.kontakt__a {
  text-decoration: none;
  color: #252525;
}
.kontakt__frame--left {
  width: 300px;
  height: 280px;
  border: none;
  border-radius: 0 100px 0 100px;
}
.kontakt__frame--right {
  width: 300px;
  height: 280px;
  border: none;
  border-radius: 0 100px 0 100px;
}
.kontakt__frame {
  margin: 10px;
}
.kontakt__p--first {
  margin-top: 30px;
  font-size: 20px;
}
.kontakt__p--last {
  font-size: 14px;
  margin-bottom: 50px;
}
.kontakt--tmava {
  background-color: rgba(189, 178, 167, 0.5);
}

@media screen and (min-width: 900px) {
  .kontakt {
    padding: 50px;
  }
  .kontakt__text {
    display: flex;
    justify-content: center;
  }
  .kontakt__div--leva {
    flex-basis: 50%;
    text-align: left;
  }
  .kontakt__div--prava {
    flex-basis: 50%;
  }
  .kontakt__map {
    display: flex;
    justify-content: space-around;
  }
  .kontakt__div--mapa {
    text-align: center;
  }
  .kontakt__p--first {
    margin-top: 30px;
  }
  .div--mapa {
    margin: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .kontakt__text {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 100px;
    margin: 50px 100px;
  }
  .kontakt__frame--left {
    width: 330px;
    height: 310px;
  }
  .kontakt__frame--right {
    width: 330px;
    height: 310px;
  }
  .kontakt__h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .kontakt__text {
    margin: 80px 150px;
  }
  .kontakt__map {
    margin: 80px 100px;
  }
}
@media screen and (min-width: 1500px) {
  .kontakt__text {
    margin: 80px 350px;
  }
  .kontakt__map {
    margin: 80px 200px;
  }
}
.omne {
  padding: 20px;
  text-align: center;
}
.omne__p {
  margin: 20px 20px 10px 20px;
}
.omne--druha {
  background-color: rgba(189, 178, 167, 0.5);
}
.omne__div {
  margin-top: 20px;
}
.omne__photo {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  border-radius: 100px 0 100px 0;
  filter: grayscale(90%);
}
.omne__photo:hover {
  filter: none;
}
.omne__img {
  width: 200px;
  border-radius: 300px 300px 0 0;
}
.omne__h2 {
  font-family: "WindSong", cursive;
  font-weight: 500;
  font-size: 35px;
}
.omne--prvni {
  padding-top: 80px;
}

@media screen and (min-width: 640px) {
  .omne__img {
    width: 300px;
  }
  .omne__h2 {
    font-size: 45px;
  }
}
@media screen and (min-width: 1100px) {
  .omne--prvni {
    display: flex;
    margin: 0 150px;
  }
  .omne__p {
    text-align: left;
  }
  .omne--prava {
    padding-left: 20px;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .omne--leva {
    display: flex;
    flex-basis: 45%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
  }
  .omne__img {
    width: 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .omne__div {
    margin: 50px 150px;
  }
  .omne__h2 {
    font-size: 55px;
  }
}
.rezervace {
  text-align: center;
  padding: 20px;
}
.rezervace__h2 {
  font-family: "Cormorant", serif;
  padding-top: 60px;
}

@media screen and (min-width: 640px) {
  .rezervace {
    padding: 40px;
  }
}
@media screen and (min-width: 900px) {
  .rezervace {
    padding: 60px;
  }
}
@media screen and (min-width: 1100px) {
  .rezervace {
    padding: 100px;
  }
  .rezervace__h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1500px) {
  .rezervace {
    padding: 200px;
  }
  .rezervace__h2 {
    font-size: 50px;
  }
}
.sluzby {
  padding: 25px;
  text-align: center;
}
.sluzby__h2 {
  font-family: "WindSong", cursive;
  font-weight: 400;
  font-size: 50px;
  margin: 0;
}
.sluzby__h3 {
  font-weight: 600;
  font-size: 18px;
  padding: 0 20px;
}
.sluzby__p--main {
  margin: 20px 0;
}
.sluzby__div {
  margin: 50px 0;
}
.sluzby--tmava {
  background-color: rgba(189, 178, 167, 0.5);
}
.sluzby__img {
  width: 200px;
  border-radius: 400px 400px 0 0;
}
.sluzby__h2--prvni {
  padding-top: 60px;
}
.sluzby__p {
  padding: 0 30px;
}

@media screen and (min-width: 640px) {
  .sluzby {
    padding: 50px;
  }
}
@media screen and (min-width: 900px) {
  .section__div--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section__div {
    flex-basis: 40%;
    margin: 30px;
  }
  .section__img {
    height: 300px;
  }
  .section__h3 {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1100px) {
  .sluzby__img {
    width: 220px;
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sluzby__div--main {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    gap: 20px;
  }
  .sluzby__p {
    margin: 20px 0;
  }
  .sluzby__div {
    display: grid;
    grid-template-rows: 100px 300px 150px;
    justify-items: center;
    margin-bottom: 0;
  }
  .sluzby__h2 {
    font-size: 65px;
  }
}
@media screen and (min-width: 1500px) {
  .sluzby__div--main {
    grid-template-columns: 450px 450px 450px;
    gap: 30px;
  }
  .sluzby__p--main {
    margin: 20px 250px;
  }
}/*# sourceMappingURL=style.css.map */