@use "color";
html {
    box-sizing: border-box;
  }
*, ::before, ::after {
    box-sizing: inherit;
  }
body {
    font-family: "Cardo", serif;
    font-size: 17px;
    font-weight: 400;
    color: color.$font;
    margin: 0;
    background-color: color.$menu-background;
    img {
        max-width: 100%;
    }
  }