$menu-background: rgba(216, 207, 199, 0.5);
$section-background: rgba(189, 178, 167, 0.5);
$buttons: rgba(189, 178, 167, 0.6);
$font: #252525;
$buttons-hover: rgba(169, 151, 139, 0.7);

/*
$menu-background: #e1ddd8;
$section-background: #cbc4bb;
$buttons: #cbc4bb;
$font: #222222;
$buttons-hover: #c0b7ad;*/