$menu-background: #d8cfc7;
$section-background: #bdb2a7;
$buttons: #bdb2a7;
$font: #030303;
$buttons-hover: #a9978b;

/*
$menu-background: #e1ddd8;
$section-background: #cbc4bb;
$buttons: #cbc4bb;
$font: #222222;
$buttons-hover: #c0b7ad;*/