@use "color";
.footer {
    text-align: center;
    &__img {
        max-width: 250px;
    }
    &__p {
        text-align: left;
        margin: 16px;
    }
    &__p--underline {
        margin: 16px;
    }
    &__hr {
        width: 90%;
        border: 1px solid color.$section-background;
    }
    &__a {
        color: color.$font;
    }
}
@media screen and (min-width: 640px) {
    .footer {
        &__div {
            display: flex;
            padding-left: 20px;
        }
    }
}
@media screen and (min-width: 900px) {
    .footer-hlavni {
        display: flex;
        justify-content: flex-start;
        padding: 0 100px;
        margin-top: 40px;
    }
}
@media screen and (min-width: 1100px) {
    .footer-hlavni {
        justify-content: space-evenly;
    }
}