@use "color";
.section {
    &__h2 {
        text-align: center;
        padding: 20px 0 0 0;
    }
    &__img--levyroh,
    &__img--pravyroh {
        margin: 10px;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    &__img--levyroh {
        border-radius: 0 50px 0 50px;
    }
    &__img--pravyroh {
        border-radius: 50px 0 50px 0;
    }
    &__img--galerie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        padding-bottom: 20px;
    }
    &--svetla {
        background-color: color.$menu-background;
    }
}
@media screen and (min-width: 640px) {
    .section {
        &__img--levyroh,
        &__img--pravyroh {
            margin: 20px;
            width: 200px;
            height: 200px;
        }
        &__img--levyroh {
            border-radius: 0 75px 0 75px;
        }
        &__img--pravyroh {
            border-radius: 75px 0 75px 0;
        }
    }
}
@media screen and (min-width: 1100px) {
    .section {
        &__img--levyroh,
        &__img--pravyroh {
            margin: 30px;
        }
        &__img--galerie {
            display: grid;
            grid-template-columns: repeat(4,auto);
            grid-template-rows: repeat(2, auto);
        }
    }
}