@use "color";
.galerie {
    &__h2 {
        text-align: center;
        font-family: "WindSong", cursive;
        font-weight: 500;
        font-size: 35px;
        margin: 0;
        padding: 20px 0 0 0;
    }
    &__h2--prvni {
        padding-top: 60px;
    }
    &__img--levyroh,
    &__img--pravyroh {
        margin: 10px;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    &__img--levyroh {
        border-radius: 0 50px 0 50px;
    }
    &__img--pravyroh {
        border-radius: 50px 0 50px 0;
    }
    &__img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
        padding-bottom: 20px;
    }
    &--tmava {
        background-color: color.$section-background;
    }
}
@media screen and (min-width: 640px) {
    .galerie {
        &__img--levyroh,
        &__img--pravyroh {
            margin: 20px;
            width: 200px;
            height: 200px;
        }
        &__img--levyroh {
            border-radius: 0 75px 0 75px;
        }
        &__img--pravyroh {
            border-radius: 75px 0 75px 0;
        }
        &__h2 {
            font-size: 45px;
        }
        &__h2--prvni {
            padding-top: 80px;
        }
    }
}
@media screen and (min-width: 1100px) {
    .galerie {
        &__img--levyroh,
        &__img--pravyroh {
            margin: 30px;
        }
        &__img {
            display: grid;
            grid-template-columns: repeat(4,auto);
            grid-template-rows: repeat(2, auto);
        }
        &__h2 {
            font-size: 55px;
        }
    }
}