.header {
    background-image: url(/Images/uvodni.jpg);
    background-size: cover;
    &__h2 {
        font-family: "Mrs Saint Delafield", cursive;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        margin: 0;
    }
    &__h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    }
    &__buttons {
        display: none;
    }
    &__text {
        padding: 50px 30px;
    }
}