@use "color";
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 10;
    &__checkbox {
        position: absolute;
        left: -9999px;
    }
    &__list {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        border-bottom: 1px solid color.$section-background;
    }
    &__item:last-child {
        border-bottom: none;
    }
    &__link {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: color.$font;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
    }
    &__link:hover {
        text-decoration: underline 2px solid color.$buttons-hover;
    }
    &__checkbox:checked ~ .menu__list {
        display: block;
        background-color: rgba(189, 178, 167,);
        width: 100vh;
        height: 100vh;
    }
    &__toggler {
        cursor: pointer;
    }
    &__button {
        padding: 15px 20px;
        background-color: color.$buttons;
        border: none;
        border-radius: 45px 0;
        font-family: "Libre Baskerville", serif;
        text-transform: uppercase;
        text-decoration: none;
        color: color.$font;
        font-weight: 400;
        margin-right: 5px;
        font-size: 14px;
    }
    &__img {
        max-width: 50px;
        margin: 0 10px;
        display: none;
    }
    &--left {
        align-items: center;
    }
}
label {
    font-size: 30px;
    padding: 5px;
}
@media screen and (min-width: 640px) {
    .menu {
        &__button {
            display: none;
        }
        &__toggler {
            display: none;
        }
        &__list {
            display: flex;
        }
        &__item {
            border-bottom: 0;
        }
        &__link:hover {
            text-decoration: underline 2px solid color.$buttons-hover;
        }
        &__img {
            max-width: 50px;
            margin: 0 10px;
            display: block;
        }
        &--left {
            display: flex;
        }
    }
}
@media screen and (min-width: 900px) {
    .menu {
        &__button {
            display: block;
        }
        &__button:hover {
            background-color: color.$buttons-hover;
        }
    }
}