@use "color";
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__checkbox {
        position: absolute;
        left: -9999px;
    }
    &__list {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: color.$menu-background;
    }
    &__item {
        border-bottom: 1px solid color.$section-background;
    }
    &__item:last-child {
        border-bottom: none;
    }
    &__link {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: color.$font;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
    }
    &__link:hover {
        background-color: color.$buttons-hover;
    }
    &__checkbox:checked ~ .menu__list {
        display: block;
    }
    &__toggler {
        cursor: pointer;
    }
    &__button {
        padding: 10px 20px;
        background-color: color.$buttons;
        border: none;
        border-radius: 30px 0;
        font-family: "Cardo", serif;
        text-decoration: none;
        color: color.$font;
        font-weight: 400;
        margin-right: 5px;
    }
    &__img {
        max-width: 50px;
        margin: 0 10px;
    }
    &--left {
        display: flex;
        align-items: center;
    }
}
label {
    font-size: 30px;
    padding: 5px;
}
@media screen and (min-width: 640px) {
    .menu {
        &__button {
            display: none;
        }
        &__toggler {
            display: none;
        }
        &__list {
            display: flex;
        }
        &__item {
            border-bottom: 0;
        }
        &__link:hover {
            background-color: color.$menu-background;
            text-decoration: underline 2px solid color.$buttons-hover;
        }
    }
}
@media screen and (min-width: 900px) {
    .menu {
        &__button {
            display: block;
        }
        &__button:hover {
            background-color: color.$buttons-hover;
        }
    }
}