@use "color";
.omne {
    padding: 20px;
    text-align: center;
    &__p {
        margin: 20px 20px 10px 20px;
    }
    &--druha {
        background-color: color.$section-background;
    }
    &__div {
        margin-top: 20px;
    }
    &__photo {
        width: 200px;
        height: 200px;
        object-fit: cover;
        padding: 10px;
        border-radius: 100px 0 100px 0;
        filter: grayscale(90%);
    }
    &__photo:hover {
        filter: none;
    }
    &__img {
        width: 200px;
        border-radius:300px 300px 0 0;
    }
    &__h2 {
        font-family: "WindSong", cursive;
        font-weight: 500;
        font-size: 35px;
    }
    &--prvni {
        padding-top: 80px;
    }
}
@media screen and (min-width: 640px) {
    .omne {
        &__img {
            width: 300px;
        }
        &__h2 {
            font-size: 45px;
        }
    }
}
@media screen and (min-width: 1100px) {
    .omne {
        &--prvni {
            display: flex;
            margin: 0 150px;
        }
        &__p {
            text-align: left;
        }
        &--prava {
            padding-left: 20px;
            flex-basis: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &--leva {
            display: flex;
            flex-basis: 45%;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
        }
        &__img{
            width: 60%;
            object-fit: cover;
        }
        &__div{
            margin: 50px 150px;
        }
        &__h2 {
            font-size: 55px;
        }
    }
}