@use "color";
.section {
    &__p--omne {
        margin: 20px 20px 10px 20px;
    }
    &--druha {
        background-color: color.$section-background;
    }
    &__div--certifikat {
        margin-top: 20px;
    }
    &__photo {
        width: 200px;
        height: 200px;
        object-fit: cover;
        padding: 10px;
        border-radius: 100px 0 100px 0;
        filter: grayscale(90%);
    }
    &__photo:hover {
        filter: none;
    }
    &__img--omne {
        width: 200px;
        border-radius:300px 300px 0 0;
    }
}
@media screen and (min-width: 640px) {
    .section {
        &__img--omne {
            width: 300px;
        }
    }
}
@media screen and (min-width: 1100px) {
    .section {
        &--prvni {
            display: flex;
            margin: 0 150px;
        }
        &__p--omne {
            text-align: left;
        }
        &--prava {
            padding-left: 20px;
            flex-basis: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &--leva {
            display: flex;
            flex-basis: 45%;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
        }
        &__img--omne {
            width: 60%;
            object-fit: cover;
        }
        &__div--certifikat {
            margin: 50px 150px;
        }
    }
}