<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cormorant:ital,wght@0,300..700;1,300..700&family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.svg" type="image/svg">
</head>
<body>
    <nav class="menu">
        <div class="menu--left">
            <input type="checkbox" class="menu__checkbox" id="menu__checkbox">
            <label for="menu__checkbox" class="menu__toggler">☰</label>
            <a href="/">
                <img class="menu__img" src="/Images/favicon.svg" alt="logo kosmetického salónu">
            </a>
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                <li class="menu__item"><a class="menu__link" href="/sluzby">Služby</a></li>
                <li class="menu__item"><a class="menu__link" href="/omne">O mně</a></li>
                <li class="menu__item"><a class="menu__link" href="/galerie">Galerie</a></li>
                <li class="menu__item"><a class="menu__link" href="/cenik">Ceník</a></li>
                <li class="menu__item"><a class="menu__link" href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div class="menu--right">
            <a href="/rezervace" class="menu__button">Online rezervace</a>
        </div>
    </nav>
    {{ content | safe }}
<footer class="footer">
    <div class="footer-hlavni">
        <img class="footer__img" src="/Images/favicon.svg" alt="logo kosmetického salónu">
        <div class="footer__div">
            <p class="footer__p">
                <strong>Provozuje:</strong><br>
                Alexandra Domanová<br>
                Lešany 171<br>
                25744 Lešany<br>
                IČ: 74722531
            </p> 
            <p class="footer__p">
                <strong>Kontaktní informace:</strong><br>
                Horáčkova 1208/11, Praha 4 - Krč<br>
                +420 777 115 520<br>
                <a href="mailto:adomanova@centrum.cz" class="footer__a">adomanova@centrum.cz</a><br>
                <br>
                Pečovatelský dům, Okružní 520, Týnec nad Sázavou<br>
                +420 777 115 520<br>
                <a href="mailto:adomanova@centrum.cz" class="footer__a">adomanova@centrum.cz</a>
            </p>
        </div>
    </div>
    <hr class="footer__hr">
    <p class="footer__p--underline">© 2024 Alexandra Domanová – Všechna práva vyhrazena</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.min.js"></script>
</body>
</html>