<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salón Alex - Kosmetika, pedikúra &amp; masáže</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mrs+Saint+Delafield&family=Oooh+Baby&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="menu">
        <div class="menu--left">
            <input type="checkbox" class="menu__checkbox" id="menu__checkbox">
            <label for="menu__checkbox" class="menu__toggler">☰</label>
            <img class="menu__img" src="/Images/logo.svg" alt="logo kosmetického salónu">
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                <li class="menu__item"><a class="menu__link" href="/sluzby/">Služby</a></li>
                <li class="menu__item"><a class="menu__link" href="/omne/">O mně</a></li>
                <li class="menu__item"><a class="menu__link" href="/galerie/">Galerie</a></li>
                <li class="menu__item"><a class="menu__link" href="/cenik/">Ceník</a></li>
                <li class="menu__item"><a class="menu__link" href="/kontakt/">Kontakt</a></li>
            </ul>
        </div>
        <div class="menu--right">
            <a href="/rezervace/" class="menu__button">Online rezervace</a>
        </div>
    </nav>
    {{ content | safe }}
<footer class="footer">
    <img class="footer__img" src="/Images/logo.svg" alt="logo kosmetického salónu">
    <p class="footer__p">
        <strong>Provozuje:</strong><br>
        Alexandra Domanová<br>
        Lešany 171<br>
        25744 Lešany<br>
        IČ: 74722531
    </p>
    <p class="footer__p">
        <strong>Kontaktní informace:</strong><br>
        Horáčkova 1208/11, Praha 4 - Krč<br>
        +420 777 115 520<br>
        adomanova@centrum.cz<br>
        <br>
        Pečovatelský dům, Okružní 520, Týnec nad Sázavou<br>
        +420 777 115 520<br>
        adomanova@centrum.cz
    </p>
    <hr class="footer__hr">
    <p class="footer__p--underline">© 2024 Alexandra Domanová – Všechna práva vyhrazena</p>
</footer>
</body>
</html>